# Telegram
API_ID=
API_HASH=
BOT_TOKEN=
OWNER_ID=

# Database
DATABASE_URL=
SESSION_NAME=FileStream

# Channels
FLOG_CHANNEL=
ULOG_CHANNEL=
UPDATES_CHANNEL=
FORCE_SUB_ID=
FORCE_UPDATES_CHANNEL=False

# Server
BIND_ADDRESS=0.0.0.0
PORT=8080
FQDN=localhost
HAS_SSL=False
NO_PORT=False
PUBLIC_URL=

# Optional
WORKERS=6
MODE=primary
AUTH_USERS=
FILE_PIC=
START_PIC=
VERIFY_PIC=
SLEEP_THRESHOLD=60
